<div>
  <h1>TinyURL</h1>

  <% if (username) { %>
    <div>
      <form class="form-inline" method="POST" action="/logout">
        <div class="form-group mb-2"></div>
          Logged in as : <%= username %>
          <button type="submit" class="btn btn-primary">logout</button>
        </div>
      </form>
    </div>
  <% } else { %>
    <form class="form-inline" method="POST" action="/login">
      <div class="form-group mb-2"></div>
        <input class="form-control" type="text" name="username" />
        <button type="submit" class="btn btn-primary">login</button>
      </div>
    </form>
  <% } %>

</div>